<h1>Listing empresas</h1>

<table>
  <tr>
    <th>Nit</th>
    <th>Nombre</th>
    <th>Fch creacion</th>
    <th>Nro empleados</th>
    <th>Actividad</th>
  </tr>

<% @empresas.each do |empresa| %>
  <tr>
    <td><%=h empresa.nit %></td>
    <td><%=h empresa.nombre %></td>
    <td><%=h empresa.fch_creacion %></td>
    <td><%=h empresa.nro_empleados %></td>
    <td><%=h empresa.actividad %></td>
    <td><%= link_to 'Ver', empresa %></td>
    <td><%= link_to 'Modificar', edit_empresa_path(empresa) %></td>
    <td><%= link_to 'Eliminar', empresa, :confirm => 'Esta accion eliminara este registro, esta seguro?', :method => :delete %></td>
    <td><%= link_to 'Sucursales', empresa_sucursales_path(empresa) %></td>>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Empresa', new_empresa_path %>