<h1>New empresa</h1>

<% form_for(@empresa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nit %><br />
    <%= f.text_field :nit %>
  </p>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :fch_creacion %><br />
    <%= f.date_select :fch_creacion %>
  </p>
  <p>
    <%= f.label :nro_empleados %><br />
    <%= f.text_field :nro_empleados %>
  </p>
  <p>
    <%= f.label :actividad %><br />
    <%= f.text_field :actividad %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', empresas_path %>