<h1>Listado de Sucursales de <%=h @empresa.nombre %></h1>

<table>
  <tr>
    
    <th>Ciudad</th>
    <th>Direccion</th>
    <th>Administrador</th>
  </tr>

<% @sucursales.each do |sucursal| %>
  <tr>
    
    <td><%=h sucursal.ciudad %></td>
    <td><%=h sucursal.direccion %></td>
    <td><%=h sucursal.administrador %></td>
    <td><%= link_to 'Ver', empresa_sucursal_path(@empresa,sucursal) %></td>
    <td><%= link_to 'Modificar', edit_empresa_sucursal_path(@empresa,sucursal) %></td>
    <td><%= link_to 'Eliminar', empresa_sucursal_path(@empresa,sucursal), :confirm => 'Esta accion eleimiara el registro, estas seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Sucursal', new_empresa_sucursal_path(@empresa) %>
<%= link_to 'Atras', empresas_path %>